<footer class="footer">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-sm-6">
          <h5>SITE MAP</h5>
      </div>
      <div class="col-sm-3">
        <h5>SOCIAL</h5>
        <div class="footer-row">
          <a  href="mailto:ryanrtunis@gmail.com" >
            <i class="fas fa-envelope"></i>&nbsp;EMAIL</a>
        </div>
        <div class="footer-row">
          <a href="https://www.facebook.com/ryan.tunis" target="_blank">
            <i class="fab fa-facebook"></i>&nbsp;FACEBOOK</a>
        </div>
        <div class="footer-row">
          <a  href="https://github.com/tuneis" target="_blank">
            <i class="fab fa-github"></i>&nbsp;GITHUB</a>
        </div>
        <div class="footer-row">
          <a  href="https://www.instagram.com/kyb0rg/" target="_blank">
            <i class="fab fa-instagram"></i>&nbsp;INSTAGRAM</a>
        </div>
        <div class="footer-row">
          <a href="https://www.youtube.com/channel/UC2t4GY0WG5x_KhSLSbanvmw" target="_blank">
            <i class="fab fa-youtube"></i>&nbsp;YOUTUBE</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h5>SITE MAP</h5>
        <div class="footer-row">
          <a routerLink="/about">ABOUT</a>
        </div>
        <div class="footer-row">
          <a routerLink="/contact">CONTACT</a>
        </div>
        <div class="footer-row">
          <a routerLink="/home">HOME</a>
        </div>
        <div class="footer-row">
          <a routerLink="/portfolio">PORTFOLIO</a>
        </div>
        <div class="footer-row">
          <a routerLink="/skills">SKILLS</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</footer>