<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Portfolio</h1>
    <p class="lead">A collection of current/past projects done by Ryan Tunis.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6">
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="statusScheme" [results]="projectsStatusData" [gradient]="gradient" (select)="onSelect($event)"
          label="Status">
        </ngx-charts-advanced-pie-chart>
      </div>
      <div class="col-md-6">
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="platformScheme" [results]="projectsPlatformData" [gradient]="gradient" (select)="onSelect($event)"
          label="Platform">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
</div>

<div class="container add-margin">
  <div class="card-columns">
    <div class="card" *ngFor="let project of projects">
      <img class="card-img-top img-pad" [attr.src]="project.img" [attr.alt]="project.name">
      <div class="card-body">
        <h4 class="card-title">{{ project.name }}</h4>
        <p class="card-text">{{ project.description }}</p>
        <div class="icon-position">
          <i [attr.class]="project.icon"></i>
        </div>
        <a [attr.class]="project.btnClass" [attr.href]="project.link" target="_blank">{{ project.status }}</a>
      </div>
    </div>
  </div>
</div>