<div class="container">
  <h1>Web Applications</h1>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top " src="/assets/img/rtag.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">RTAG</h4>
            <p class="card-text">Real Time Agriculture is a system developed to record and analyze real time weather data across the province
              of Ontario.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="http://rtag.niagararesearch.ca" target="_blank">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/cp.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Research Crop Portal</h4>
            <p class="card-text">The Research Crop Portal is a crop management portal used to help the Grain Farmers of Ontario analyze and process
              their yield data.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="http://cropportal.niagararesearch.ca" target="_blank">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/agrotelligent.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">AgroTelligent</h4>
            <p class="card-text">As a predecessor of RTAG, this project was the beginning stages of real time weather data analysis.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="http://www.agrotelligent.net" target="_blank">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h1>Mobile Applications</h1>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-pad" src="/assets/img/mpt.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MPT</h4>
            <p class="card-text">Musician's Practice Tracker is a mobile application developed in Xamarin Forms for musicians to organize their practice schedule, set goals, and see statistics about the progress they are making for all of their exercises.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.tuneis.musicianspracticetracker&hl=en" target="_blank">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-pad" src="/assets/img/fn.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">FN Dictionary</h4>
            <p class="card-text">The FN dictionary is a joke application that querys the words from the dictionary and inserts vulgarity in the definitions in clever spots.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.tuneis.fnd&hl=en" target="_blank">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-pad" src="http://www.wheatland.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Art Therapy Directives</h4>
            <p class="card-text">An app to manage art therapy directives and log practicums. (In Progress)</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary disabled" href="https://play.google.com/store/apps/details?id=com.tuneis.practicumtracker&hl=en" target="_blank">In Progress</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>