<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Ryan Tunis</h1>
        <p class="lead">A full-stack web and cross-platform mobile application developer.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-light border-dark btn-lg" routerLink="/contact" role="button">CONTACT</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card border-dark">
                    <div class="card-body">
                        <h4 class="card-title">Portfolio</h4>
                        <hr>
                        <p class="card-text">Check out current and past projects.</p>
                    </div>
                    <div class="card-footer bg-success border-dark">
                        <a routerLink="/portfolio" class="btn btn-light border-dark">VIEW</a>
                    </div>
                </div>
                <div class="card border-dark">
                    <!-- <img src="assets/svg/bar-chart.svg" class="card-img-top w-50 h-50 mx-auto d-block" alt="bar-chart"> -->
                    <div class="card-body">
                        <h4 class="card-title">Skills</h4>
                        <hr>
                        <p class="card-text">Do I have what it takes to work with you on your next project?</p>
                    </div>
                    <div class="card-footer bg-danger border-dark">
                        <a routerLink="/skills" class="btn btn-light border-dark">EVALUATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card border-dark">
                    <div class="card-body">
                        <h4 class="card-title">About</h4>
                        <hr>
                        <p class="card-text">Learn a little bit about Ryan Tunis!</p>
                    </div>
                    <div class="card-footer border-dark bg-primary">
                        <a routerLink="/about" class="btn btn-light border-dark">LEARN MORE</a>
                    </div>

                </div>
                <div class="card border-dark">
                    <div class="card-body">
                        <h4 class="card-title">Contact</h4>
                        <hr >
                        <p class="card-text">A quick and easy way to get in touch with me.</p>
                    </div>
                    <div class="card-footer border-dark bg-secondary">
                        <a routerLink="/contact" class="btn btn-light border-dark">REACH OUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>